<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bannerMapper">


	
	
	<insert id="insertBanner">
	INSERT INTO BANNER_TBL
	VALUES (#{bannerNo}, #{bannerPath}, #{bannerFileName}, #{bannerRename}, #{bannerMsg},'관리자')
	</insert>

	<update id="updateBanner">
		UPDATE BANNER_TBL
		SET 	bannerPath = #{bannerPath}, 
				bannerFileName = #{bannerFileName}, bannerRename=#{bannerRename},
				bannerMsg = #{bannerMsg}
		WHERE bannerNo = #{bannerNo}
	</update>
	
	<select id="selectAllBanner" resultType="Banner">
		SELECT * FROM BANNER_TBL
		ORDER BY 1
	</select>
	
	<select id="countBanner" resultType="_int">
		SELECT COUNT(*) FROM BANNER_TBL
		WHERE bannerNo = #{bannerNo}
	</select>

	<select id="selectOneBanner" resultType="Banner">
		SELECT * FROM BANNER_TBL
		WHERE bannerNo = #{i}
	</select>

</mapper>