<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">


	<insert id="insertChat">
		INSERT INTO CHAT_TBL VALUES(
		SEQ_CHATNO.NEXTVAL,#{refRoomNo},
		#{sender},#{chat},
		DEFAULT,DEFAULT
		)
	</insert>
	
	
	<select id="selectChatLog" resultType="Chat">
		SELECT * FROM CHAT_TBL
		WHERE refRoomNo = #{roomNo}
		ORDER BY 1 
	</select> 
	
	<select id="selectUnRead" resultType="_int">
		SELECT COUNT(*) FROM CHAT_TBL
		WHERE refRoomNo = #{param.refRoomNo}
			AND read_chk = 'N' 
			AND sender != #{param.memberNick}
	</select>
	
	<update id="updateChatRead">
		UPDATE CHAT_TBL
		SET read_chk = 'Y'
		WHERE refRoomNo = #{roomNo}
	</update>
	
	<select id="selectOneNew" resultType="Chat">
	<![CDATA[ 
		SELECT * FROM CHAT_TBL
		WHERE (refRoomNo = #{roomNo}) AND (ROWNUM <= 1) 
		ORDER BY 1 desc
		]]>
	</select>

</mapper>