<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatRoomMapper">

	<insert id="insertRoom">
		INSERT INTO CHATROOM_TBL VALUES(
		SEQ_ROOMNO.NEXTVAL, #{createUser}, #{withUser}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="disableRoom">
		UPDATE CHATROOM_TBL
		SET roomStatus = 'N', disableDate = SYSDATE
		WHERE roomNo = #{roomNo}
	</update>
	
	<select id="selectOneRoom" resultType="ChatRoom">
		SELECT * FROM CHATROOM_TBL
		WHERE (createUser = #{createUser} AND withUser = #{withUser})
			OR (createUser = #{withUser} AND withUser = #{createUser})
			AND (roomStatus = 'Y')
	</select>
	
	<select id="selectAllRoom" resultType="ChatRoom">
		SELECT * FROM CHATROOM_TBL
		WHERE (createUser = #{memberName})
			OR (withUser = #{memberName})
		ORDER BY 1 DESC	
	</select>
	
	<select id="selectDailyNewRoom" resultType="_int">
		SELECT count(*) FROM CHATROOM_TBL
		WHERE TO_CHAR(CAST(createDate AS DATE)) = TO_CHAR(TO_DATE(SYSDATE-#{dayBefore},'YY/MM/DD'))
	</select>

</mapper>