<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">


	<insert id="insertChat">
		INSERT INTO CHAT_TBL VALUES(
		SEQ_CHATNO.NEXTVAL,#{refRoomNo},
		#{sender},#{chat},
		DEFAULT,DEFAULT
		)
	</insert>
	
	
	<update id="updateChatRead">
		UPDATE CHAT_TBL
		SET read_chk = 'Y'
		WHERE refRoomNo = #{refRoomNo} 
			AND sender != #{memberNick}
	</update>
	
	<select id="selectChatLog" resultType="Chat">
		SELECT * FROM CHAT_TBL
		WHERE refRoomNo = #{roomNo}
		ORDER BY 1 
	</select> 
	
	<select id="selectUnRead" resultType="_int">
		SELECT COUNT(*) FROM CHAT_TBL
		WHERE refRoomNo = #{refRoomNo}
			AND sender != #{memberNick}
			AND read_chk = 'N' 
	</select>
	
	
	
	<select id="selectOneNew" resultType="Chat">
	<![CDATA[ 
		SELECT  *
		FROM 
 		(SELECT  *
 			 FROM CHAT_TBL
 			 WHERE (refRoomNo = #{roomNo})
  			ORDER BY 1 DESC)
		WHERE ROWNUM <= 1
		]]>
	</select>
	
  	<resultMap type="ChatSearchResult" 		id="ChatSearchResultMap">
  		<id 	property="spaceNo" 			column="SPACE_NO"/>
  		<result property="spaceName"		column="SPACE_NAME"/>	
  		<result property="heartCount" 		column="HEART_COUNT"/>
	</resultMap>
	
	<select id="selectSearchResult" resultMap="ChatSearchResultMap">
		SELECT SPACE_NO, COUNT(*) AS HEART_COUNT, SPACE_NAME FROM HEART_TBL 
		WHERE (SPACE_NAME LIKE '%'||#{searchValue}||'%') 
		GROUP BY SPACE_NO, SPACE_NAME
		ORDER BY HEART_COUNT DESC
	</select>
</mapper>