<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">


	<insert id="insertChat">
		INSERT INTO CHAT_TBL VALUES(
		SEQ_CHATNO.NEXTVAL,#{refRoomNo},
		#{sender},#{chat},
		DEFAULT,DEFAULT
		)
	</insert>
	
	
	<select id="selectReadChat" resultType="Chat">
		SELECT * FROM CHAT_TBL
		WHERE refRoomNo = #{roomNo} and read_chk = 'Y'
	</select> 
	
<!-- 	<select id="unReadCount" resultMap="_int"> -->
<!-- 		SELECT COUNT(*) FROM CHAT_TBL -->
<!-- 		WHERE refRoomNo = #{roomNo} and read_chk = 'N' -->
<!-- 	</select> -->

</mapper>