<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventMapper">

<resultMap type="Event" id="EventResultMap">
  		<id 	property="id" 					column="eventId"/>
  		<result property="title" 				column="title"/>
  		<result property="start" 				column="eventStart"/>
  		<result property="end" 					column="eventEnd"/>
  		<result property="backgroundColor" 		column="backgroundColor"/>
  		<result property="borderColor" 			column="borderColor"/>
</resultMap>

	<insert id="insertEvent">
		INSERT INTO EVENT_TBL VALUES(
		SEQ_EVENTNO.NEXTVAL,
		#{title},TO_CHAR(TO_DATE(#{start}), 'YYYY-MM-dd'),TO_CHAR(TO_DATE(#{end}) + 1D, 'YYYY-MM-dd')
		,#{backgroundColor} , #{borderColor}
		) 
	
	</insert>
	
	<delete id="deleteEvent">
		delete from EVENT_TBL
		where eventId = #{id}
	</delete>
	
	<update id="updateEvent">
		UPDATE EVENT_TBL
		SET   title = #{title},eventStart= TO_CHAR(TO_DATE(#{start}), 'YYYY-MM-dd'), eventEnd = TO_CHAR(TO_DATE(#{end}) + 1D, 'YYYY-MM-dd'), 
				backgroundColor = #{backgroundColor}, borderColor = #{borderColor}
		WHERE eventId = #{id}
	</update>
	
	<select id="selectEvents" resultMap="EventResultMap">
		SELECT * FROM EVENT_TBL
	</select>

</mapper>