<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="HostMapper">
  
  		<resultMap type="Host" 						id="HostResultMap">
  		<id 	property="hostEmail" 				column="HOSTEMAIL"/>
  		<result property="hostPwd" 					column="HOSTPWD"/>
  		<result property="hostName" 				column="HOSTNAME"/>
  		<result property="hostPhone" 				column="HOSTPHONE"/>
  		<result property="companyName" 				column="COMPANYNAME"/>
  		<result property="companyRegNum" 			column="COMPANYREGNUM"/>
  		<result property="accountName" 				column="ACCOUNTNAME"/>
  		<result property="accountHolder" 			column="ACCOUNTHOLDER"/>
  		<result property="accountNumber" 			column="ACCOUNTNUMBER"/>
  		<result property="regPhotoName" 			column="REGPHOTONAME"/>
  		<result property="regPhotoRename" 			column="REGPHOTORENAME"/>
  		<result property="regPhotoPath" 			column="REGPHOTOPATH"/>
  		<result property="enrollDate" 				column="ENROLLDATE"/>
  		<result property="updateDate" 				column="UPDATEDATE"/>
  		<result property="hStatus" 					column="HSTATUS"/>
  		<result property="memberNick" 				column="MEMBERNICK"/>
  		
  		</resultMap>
  	
  	  	<resultMap type="Space" 					id="SpaceResultMap">
  		<id 	property="spaceNo" 					column="SPACE_NO"/>
  		<result property="spaceName" 				column="SPACE_NAME"/>
  		<result property="spaceComent" 				column="SPACE_COMENT"/>
  		<result property="spaceArea" 				column="SPACE_AREA"/>
  		<result property="spacePrice" 				column="SPACE_PRICE"/>
  		<result property="approval" 				column="approval"/>
  		<result property="approvalDate" 			column="APPROVAL_DATE"/>
  		<result property="spaceStatus" 				column="SPACE_STATUS"/>
  		<result property="hostEmail" 				column="HOST_EMAIL"/>
  		<result property="rejectMailChk" 			column="REJECTMAILCHK"/>
  		<result property="address1" 				column="SPACE_ADDRESS1"/>
  		<result property="address2" 				column="SPACE_ADDRESS2"/>
  		<result property="address3" 				column="SPACE_ADDRESS3"/>
  		<result property="address4" 				column="SPACE_ADDRESS4"/>
  		
  		</resultMap>
  	
  		<resultMap type="SpaceImg" 					id="SpaceImgResultMap">
  		<id 	property="spaceImgNo" 				column="SPACE_IMG_NO"/>
  		<result property="spaceNo" 					column="SPACE_NO"/>
  		<result property="spaceFileName" 			column="SPACE_FILENAME"/>
  		<result property="spaceFileRename" 			column="SPACE_FILERENAME"/>
  		<result property="spaceFilePath" 			column="SPACE_FILEPATH"/>
  		</resultMap>
  	
  		<resultMap type="Reservation" 				id="ReservationResultMap">
  		<id 	property="reservationNo" 			column="RESERV_NO"/>
  		<result property="memberEmail" 				column="MEMBER_EMAIL"/>
  		<result property="hostEmail" 				column="HOST_EMAIL"/>
  		<result property="spaceNo" 					column="SPACE_NO"/>
  		<result property="spaceName" 				column="SPACE_TITLE"/>
  		<result property="spaceAddress" 			column="SPACE_ADDRESS"/>
  		<result property="price" 					column="PRICE"/>
  		<result property="reservationDate" 			column="RESERV_DATE"/>
  		<result property="memberName" 				column="MEMBER_NAME"/>
  		<result property="memberPhone" 				column="MEMBER_PHONE"/>
  		<result property="paymentDate" 				column="PAYMENT_DATE"/>
  		<result property="reservationStatus" 		column="RESERV_STATUS"/>
  		<result property="reviewStatus" 			column="REV_STATUS"/>
  		<result property="revStart" 				column="REV_START"/>
  		<result property="revEnd" 					column="REV_END"/>
  		</resultMap>
  
  	  <!-- 호스트 정보 -->
	  <select id="selectHost" resultMap="HostResultMap">
  		SELECT * FROM HOST_TBL
  		WHERE HOSTEMAIL = #{hostEmail}
	  </select>
	  
	  <!-- 호스트 정보 수정 -->
	  <update id="hostModify">
  		UPDATE HOST_TBL
		SET HOSTNAME = #{hostName}, COMPANYNAME = #{companyName}, HOSTPHONE = #{hostPhone}, COMPANYREGNUM = #{companyRegNum}, ACCOUNTNAME = #{accountName}, HOSTEMAIL = #{hostEmail}, 
			REGPHOTONAME = #{regPhotoName}, REGPHOTORENAME = #{regPhotoRename}, REGPHOTOPATH = #{regPhotoPath}, MEMBERNICK=#{memberNick}  
		WHERE HOSTEMAIL = #{hostEmail}
	  </update>
	  
	  <!-- 예약 갯수 확인 -->
	  <select id="getRegervationTotalCount" resultType="_int">
 		SELECT COUNT(*) FROM RESERVATION_TBL
 		WHERE HOST_EMAIL = #{hostEmail} AND RESERV_STATUS = 'Y'
	  </select>
	 
	  <!-- 예약 리스트 조회 -->
	  <select id="regervationList" resultMap="ReservationResultMap">
 		SELECT * FROM RESERVATION_TBL 
 		WHERE HOST_EMAIL = #{hostEmail} AND RESERV_STATUS = 'Y'
 		ORDER BY 11 DESC
	  </select>
	  
	  <!-- 예약 확인용 예약 조회 -->
	  <select id="regervationListByHostemail" resultMap="ReservationResultMap">
	  	SELECT * FROM RESERVATION_TBL 
 		WHERE HOST_EMAIL = #{hostEmail} AND RESERV_STATUS = 'Y'
 	    AND EXTRACT(MONTH FROM RESERV_DATE) = #{monthValue}
	  </select>
	  
	  <!-- 예약 번호로 예약 정보 가져오기 -->
	  <select id="regervationByNo" resultMap="ReservationResultMap">
	  	SELECT * FROM RESERVATION_TBL
	  	WHERE RESERV_NO = #{reservationNo}
	  </select>
	  
	  <!-- 예약 정보 수정 -->
	  <update id="reservationModify">
	  	UPDATE RESERVATION_TBL
	  	SET MEMBER_NAME = #{memberName}, MEMBER_PHONE = #{memberPhone}, RESERV_DATE = #{reservationDate}, REV_START = #{revStart}, REV_END = #{revEnd}, PRICE = #{price}
	  	WHERE RESERV_NO = #{reservationNo}
	  </update>
	  
	  <!-- 예약 삭제  -->
	  <update id="reservationRemove">
	  	UPDATE RESERVATION_TBL
	  	SET	RESERV_STATUS = 'N'
	  	WHERE RESERV_NO = #{reservationNo}
	  </update>
	  
	  <!-- 정산 확인 리스트 카운트 -->
	  <select id="getRegervationTotalCountByDate" resultType="_int">
	  	SELECT COUNT(*) FROM RESERVATION_TBL
	  	WHERE HOST_EMAIL = #{hostEmail} AND RESERV_STATUS = 'Y' AND  RESERV_DATE BETWEEN #{date1} AND #{date2}
	  </select>
	  
	  <!-- 정산 확인_조회기간 예약 리스트 불러오기 -->
	  <select id="rListByDate" resultMap="ReservationResultMap">
	  	SELECT * FROM RESERVATION_TBL
	  	WHERE HOST_EMAIL = #{hostEmail} AND RESERV_STATUS = 'Y' AND  RESERV_DATE BETWEEN #{date1} AND #{date2} 
	  	ORDER BY 11 DESC
	  </select>

	  <!-- 정산 확인 금액 합계 -->
	  <select id="priceSumByHostemail" resultType="_int">
	  	SELECT SUM(PRICE) 
	  	FROM RESERVATION_TBL
	  	WHERE HOST_EMAIL = #{hostEmail}
	  </select>
	  
	  <!-- 공간 업로드 -->
  	  <insert id="insertSpace">
  		INSERT INTO SPACE_TBL
  		VALUES(SEQ_SPACE_NO.NEXTVAL, #{spaceName}, #{spaceComent}, #{spaceArea}, #{spacePrice}, DEFAULT, DEFAULT, DEFAULT, #{hostEmail}, DEFAULT, #{address1}, #{address2}, #{address3}, #{address4})
  	  </insert>
  	  
  	  <!-- 공간 이미지 업로드 -->
  	  <insert id="insertSpaceImg">
  	  	INSERT INTO SPACE_IMG
  	  	VALUES(SEQ_SPACE_IMG.NEXTVAL, SEQ_SPACE_NO.CURRVAL, #{spaceFileName}, #{spaceFileRename}, #{spaceFilePath})
  	  </insert>
  	  
  	  <!-- 공간 갯수 확인 -->
  	  <select id="getSpaceTotalCount" resultType="_int">
  	  	SELECT COUNT(*) FROM SPACE_TBL
  	  	WHERE SPACE_STATUS = 'Y' AND HOST_EMAIL = #{hostEmail}
  	  </select>
  
  	 <!-- 공간 갯수 확인_관리자 페이지 -->
  	  <select id="getSpaceTotalCount_Admin" resultType="_int">
  	  	SELECT COUNT(*) FROM SPACE_TBL
  	  	WHERE SPACE_STATUS = 'Y'
  	  </select>
  	  
  	  <!-- 공간 리스트_관리자 페이지 -->
	  <select id="spaceList" resultMap="SpaceResultMap">
	  	SELECT * FROM SPACE_TBL
	  	WHERE SPACE_STATUS = 'Y'
	  	ORDER BY approval, 1 DESC
	  </select>
	  
	  <!-- 공간 리스트 By hostEmail  -->
	  <select id="spaceListByhostEmail" resultMap="SpaceResultMap">
	  	SELECT * FROM SPACE_TBL
	  	WHERE HOST_EMAIL = #{hostEmail} AND SPACE_STATUS = 'Y'
	  	ORDER BY 1 DESC
	  </select>
	  
	  <!-- 공간 번호로 공간 불러오기 -->
	  <select id="spaceByNo" resultMap="SpaceResultMap">
	  	SELECT * FROM SPACE_TBL
	  	WHERE SPACE_NO = #{spaceNo}
	  </select>  
  	
  	 <!-- 공간 번호로 공간 이미지 불러오기 -->
  	 <select id="spaceImgByNo" resultMap="SpaceImgResultMap">
  	 	SELECT * FROM SPACE_IMG
  	 	WHERE SPACE_NO = #{spaceNo}
  	 </select>
  	 
  	 <!-- 공간 수정 -->
  	 <update id="spaceModify">
  	 	UPDATE SPACE_TBL
  	 	SET SPACE_NAME = #{spaceName}, SPACE_ADDRESS1 = #{address1}, SPACE_ADDRESS2 = #{address2}, SPACE_ADDRESS3 = #{address3}, SPACE_ADDRESS4 = #{address4}, SPACE_COMENT = #{spaceComent}, SPACE_AREA = #{spaceArea}, SPACE_PRICE = #{spacePrice}
  	 	WHERE SPACE_NO = #{spaceNo}
  	 </update>
  	 
  	 <!-- 공간 이미지 수정 -->
  	 <update id="spaceImgModify">
  	 	UPDATE SPACE_IMG
  	 	SET SPACE_FILENAME = #{spaceFileName}, SPACE_FILERENAME = #{spaceFileRename}, SPACE_FILEPATH = #{spaceFilePath}
  	 	WHERE SPACE_IMG_NO = #{spaceImgNo}
  	 </update>
  	 
  	 <!-- 공간 삭제 -->
  	 <update id="spaceRemove">
  	 	UPDATE SPACE_TBL
  	 	SET SPACE_STATUS = 'N'
  	 	WHERE SPACE_NO = #{spaceNo} 
  	 </update>
  	 
	<!--   	어드민 대시보드에 숫자뽑는 쿼리들  -->
	<!-- 	호스트수 -->
  	 <select id="selectHostCount" resultType="_int">
  	 	SELECT COUNT(*) FROM HOST_TBL
  	 	WHERE hStatus = 'Y'
  	 </select>
  	 
  	 <!-- 공간 승인 -->
  	 <update id="approveSpace">
  	 	UPDATE SPACE_TBL
  	 	SET APPROVAL = 'Y', APPROVAL_DATE = SYSDATE
  	 	WHERE SPACE_NO = #{spaceNo}
  	 </update>
  	 
  	 <!-- 공간 승인 거절 메일 -->
  	 <update id="sendMail">
  	 	UPDATE SPACE_TBL
		SET REJECTMAILCHK = 'Y'
		WHERE SPACE_NO = #{spaceNo}
  	 </update>
  	 
  </mapper>
  
  
  
  
  
  
  
  
  
  