<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="MemberMapper">
  
	<resultMap type="Reservation" 				id="ReservationResultMap">
 		<id 	property="reservationNo" 			column="RESERV_NO"/>
 		<result property="memberEmail" 				column="MEMBER_EMAIL"/>
 		<result property="hostEmail" 				column="HOST_EMAIL"/>
 		<result property="spaceNo" 					column="SPACE_NO"/>
 		<result property="spaceName" 				column="SPACE_TITLE"/>
 		<result property="spaceAddress" 			column="SPACE_ADDRESS"/>
 		<result property="price" 					column="PRICE"/>
 		<result property="reservationDate" 			column="RESERV_DATE"/>
 		<result property="memberName" 				column="MEMBER_NAME"/>
 		<result property="memberPhone" 				column="MEMBER_PHONE"/>
 		<result property="paymentDate" 				column="PAYMENT_DATE"/>
 		<result property="reservationStatus" 		column="RESERV_STATUS"/>
 		<result property="reviewStatus" 			column="REV_STATUS"/>
 		<result property="revStart" 				column="REV_START"/>
 		<result property="revEnd" 					column="REV_END"/>
 		<result property="reviewNo" 				column="REVIEW_NO"/>
	</resultMap>
  		
	<!-- 멤버(개인회원) -->
	<insert id="insertMember"> <!-- 회원가입 -->
		  INSERT INTO MEMBER_TBL VALUES(#{memberEmail}, #{memberPwd}, #{memberName}, #{memberNick}, #{memberPhone}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	 </insert>
  

  	<select id="selectLoginOne" resultType="Member"> <!-- 로그인 -->
  		SELECT * FROM MEMBER_TBL WHERE memberEmail = #{memberEmail} AND memberPwd = #{memberPwd} AND mStatus = 'Y'

  	</select>
  	
  	<select id="selectOneByEmail" resultType="Member"> <!-- 마이페이지 -->
  		SELECT * FROM MEMBER_TBL WHERE memberEmail = #{memberEmail} AND mStatus = 'Y'
  	</select>
  	
  	 <update id="updateMember"> <!-- 정보수정 -->
		UPDATE MEMBER_TBL
		SET memberNick = #{memberNick}, memberPwd = #{memberPwd}, memberPhone = #{memberPhone} WHERE memberEmail = #{memberEmail}
	</update>
  	
  	<update id="deleteMember"> <!-- 회원탈퇴 -->
  		UPDATE MEMBER_TBL SET mStatus = 'N' WHERE memberEmail = #{memberEmail} 
  	</update>
  	
  	<select id="checkEmailDuplicate" resultType="_int"> <!-- 이메일 중복방지 -->
  		SELECT COUNT(*) FROM (
		SELECT memberEmail FROM MEMBER_TBL WHERE mStatus = 'Y'
		UNION
		SELECT hostEmail FROM HOST_TBL WHERE hStatus = 'Y') WHERE memberEmail = #{memberEmail}
  	</select>
  	
  	<select id="checkNickDuplicate" resultType="_int"> <!-- 닉네임 중복방지 -->
  		SELECT COUNT(*) FROM MEMBER_TBL WHERE memberNick = #{memberNick} AND mStatus = 'Y'
  	</select>
  	
  	<select id="checkMemDupEmail" resultType="_int"> <!-- 비밀번호 변경 시 이메일 존재 체크(개인) -->
  		SELECT COUNT(*) FROM MEMBER_TBL WHERE memberEmail = #{memberEmail} AND mStatus = 'Y'
  	</select>
  	
  	<select id="checkHostDupEmail" resultType="_int"> <!-- 비밀번호 변경 시 이메일 존재 체크(기업) -->
  		SELECT COUNT(*) FROM HOST_TBL WHERE hostEmail = #{hostEmail} AND hStatus = 'Y'
  	</select>
  	
  	<select id="selectTotalCount" resultType="_int"> <!-- 결제내역 페이징 갯수-->
  		SELECT COUNT(*) FROM RESERVATION_TBL WHERE MEMBER_EMAIL = #{memberEmail} AND RESERV_STATUS = 'Y'
  	</select>
  	
  	<select id="selectAllReserve" resultMap="ReservationResultMap"> <!-- 결제내역-->
  		SELECT REVIEW_NO, RESERV_NO, PAYMENT_DATE, SPACE_TITLE, RESERVATION_TBL.SPACE_NO, RESERV_DATE, PRICE, REV_STATUS, RESERVATION_TBL.MEMBER_EMAIL, RESERV_STATUS
		FROM RESERVATION_TBL
		LEFT OUTER JOIN REVIEW_TBL ON RESERVATION_TBL.SPACE_NO = REVIEW_TBL.SPACE_NO
		WHERE RESERVATION_TBL.MEMBER_EMAIL = #{memberEmail} AND RESERV_STATUS = 'Y' ORDER BY RESERV_NO DESC
  	</select>
  	
  	<select id="selectOneByNo" resultMap="ReservationResultMap"> <!-- 결제 상세 내역 -->
  		SELECT REVIEW_NO, SPACE_TITLE, RESERVATION_TBL.SPACE_NO, REV_STATUS, RESERV_DATE, REV_START, REV_END, PRICE, RESERV_NO, MEMBER_NAME, MEMBER_PHONE, PAYMENT_DATE
		FROM RESERVATION_TBL
		LEFT OUTER JOIN REVIEW_TBL ON RESERVATION_TBL.SPACE_NO = REVIEW_TBL.SPACE_NO 
		WHERE RESERV_NO = #{reservationNo} AND RESERV_STATUS = 'Y'
  	</select>
  	
	<update id="updatePwd">
	UPDATE MEMBER_TBL SET memberPwd = #{memberPwd} WHERE memberEmail = #{memberEmail}
	</update>
  	
  	<update id="updateHostPwd">
	UPDATE HOST_TBL SET hostPwd= #{hostPwd} WHERE hostEmail = #{hostEmail}
	</update>
	
  	<!-- 호스트 -->
  	<insert id="insertHost">
		  INSERT INTO HOST_TBL VALUES(#{hostEmail}, #{hostPwd}, #{hostName}, #{hostPhone}, #{companyName}, #{companyRegNum}, 
		  #{accountName}, #{accountHolder}, #{accountNumber}, #{regPhotoName}, #{regPhotoRename}, #{regPhotoPath}, DEFAULT, DEFAULT, DEFAULT, #{companyName})
	 </insert>
  
  	<select id="selectLoginhOne" resultType="Host">
  		SELECT * FROM HOST_TBL WHERE hostEmail = #{hostEmail} AND hostPwd = #{hostPwd} AND hStatus = 'Y'
  	</select>
  	
  	<select id="checkHostEmailDuplicate" resultType="_int">
  		SELECT COUNT(*) FROM (
		SELECT hostEmail FROM HOST_TBL WHERE hStatus = 'Y'
		UNION
		SELECT memberEmail FROM MEMBER_TBL WHERE mStatus = 'Y') WHERE hostEmail =  #{hostEmail}
  	</select>
  	
  	
  	
<!--   	어드민 대시보드에 숫자뽑는 쿼리들  -->
<!-- 	일반회원 카운트 -->
  	<select id="selectMemberCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL
  		WHERE mStatus = 'Y'
  	</select>
<!-- 	일일 일반회원 가입 카운트 -->
  	<select id="selectMemberDailyCount" resultType="_int">
		SELECT COUNT(*) FROM MEMBER_TBL
		WHERE (TO_CHAR(enrollDate) = TO_CHAR(TO_DATE(SYSDATE-#{dayBefore},'YY/MM/DD')))
				AND (mStatus = 'Y')
	</select>
<!-- 	일일 호스트회원 가입 카운트 -->
	<select id="selectHostDailyCount" resultType="_int">
		SELECT COUNT(*) FROM HOST_TBL
		WHERE (TO_CHAR(enrollDate) = TO_CHAR(TO_DATE(SYSDATE-#{dayBefore},'YY/MM/DD')))
				AND (hStatus = 'Y')
	</select>
	
  	
  </mapper>