<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="partnerMapper">


	<insert id="insertPartner">
	
		INSERT INTO PARTNER_TBL VALUES(
		SEQ_PARTNERNO.NEXTVAL
		,#{memberNick},#{memberEmail},#{area},#{instrument}
		,#{title},#{contents}
		,#{profileFileName},#{profileRename},#{profilePath}
		,DEFAULT, NULL, DEFAULT
		)
	
	</insert>
	
	<select id="selectOnePartner" resultType="Partner">
		SELECT * FROM PARTNER_TBL
		WHERE memberEmail = #{memberEmail}
	</select>
	
	<select id="selectOneByNo" resultType="Partner">
		SELECT * FROM PARTNER_TBL
		WHERE partnerNo = #{partnerNo}
	</select>
	
	
<!-- 	토탈카운트 -->
	<select id="selectTotalCount" resultType="_int">
	
		<!-- 서비스에서 검색 -->
		<if test="searchByWho.toString()== 'service'">
			SELECT COUNT(*) FROM PARTNER_TBL
			<where>
			<!-- 지역이 서울이 아닌경우 -->
			<if test="searchArea.toString() !='서울'">
				<!-- 제목 검색 -->
					<if test="searchCondition.toString()== 'title'">
						title LIKE '%'||#{searchValue}||'%' AND area =#{searchArea}
					</if>
				<!-- 내용검색 -->
					<if test="searchCondition.toString()== 'contents'">
						contents LIKE '%'||#{searchValue}||'%' AND area=#{searchArea}
					</if>
				<!--악기검색  -->
					<if test="searchCondition.toString()== 'instrument'">
						instrument LIKE '%'||#{searchValue}||'%' AND area=#{searchArea}
					</if>
				<!-- 전체검색 -->	
					<if test="searchCondition.toString()== 'all'">
							(title LIKE '%'||#{searchValue}||'%' AND area =#{searchArea})
						OR	(contents LIKE '%'||#{searchValue}||'%' AND area=#{searchArea})
					  	OR	(instrument LIKE '%'||#{searchValue}||'%' AND area=#{searchArea})
					</if>
			</if>
			
			
			<!-- 지역이 서울인 경우 -->
			<if test="searchArea.toString() =='서울'">
				<!-- 제목 검색 -->
					<if test="searchCondition.toString()== 'title'">
						title LIKE '%'||#{searchValue}||'%' 
					</if>
				<!-- 내용검색 -->
					<if test="searchCondition.toString()== 'contents'">
						contents LIKE '%'||#{searchValue}||'%' 
					</if>
				<!--악기검색  -->
					<if test="searchCondition.toString()== 'instrument'">
						instrument LIKE '%'||#{searchValue}||'%'
					</if>
				<!-- 전체검색 -->	
					<if test="searchCondition.toString()== 'all'">
							(title LIKE '%'||#{searchValue}||'%')
						OR	(contents LIKE '%'||#{searchValue}||'%')
					  	OR	(instrument LIKE '%'||#{searchValue}||'%')
					</if>
			</if>
			
				AND approval = 'Y'
			</where>
		</if>

		<!-- 어드민에서 검색 -->
		<if test="searchByWho.toString()== 'admin'">
			SELECT COUNT(*) FROM PARTNER_TBL
		</if>
	
	</select>
	
	
<!-- 	파트너 리스트 -->
	<select id="selectPartnerList" resultType="Partner">
	<!-- 서비스 노출 리스트 -->
		<if test="searchByWho.toString()== 'service'">
			SELECT * FROM PARTNER_TBL
			<where>
			<if test="searchArea.toString()=='서울'">
				<if test="searchCondition.toString()== 'title'">
					title LIKE '%'||#{searchValue}||'%'
				</if>
			</if>
			<if test="searchArea.toString() !='서울'">
				<if test="searchCondition.toString()== 'title'">
					title LIKE '%'||#{searchValue}||'%' AND
					area=#{searchArea}
				</if>
			</if>

			<if test="searchArea.toString() =='서울'">
				<if test="searchCondition.toString()== 'contents'">
					contents LIKE '%'||#{searchValue}||'%'
				</if>
			</if>

			<if test="searchArea.toString() !='서울'">
				<if test="searchCondition.toString()== 'contents'">
					contents LIKE '%'||#{searchValue}||'%' AND area=#{searchArea}
				</if>
			</if>

			<if test="searchArea.toString() =='서울'">
				<if test="searchCondition.toString()== 'instrument'">
					instrument LIKE '%'||#{searchValue}||'%'
				</if>
			</if>

			<if test="searchArea.toString() !='서울'">
				<if test="searchCondition.toString()== 'instrument'">
					instrument LIKE '%'||#{searchValue}||'%' AND area=#{searchArea}
				</if>
			</if>

			<if test="searchArea.toString() =='서울'">
				<if test="searchCondition.toString()== 'all'">
					(title LIKE '%'||#{searchValue}||'%'
					OR contents LIKE '%'||#{searchValue}||'%'
					OR instrument LIKE '%'||#{searchValue}||'%')
				</if>
			</if>

			<if test="searchArea.toString() !='서울'">
				<if test="searchCondition.toString()== 'all'">
					(title LIKE '%'||#{searchValue}||'%'
					OR contents LIKE '%'||#{searchValue}||'%'
					OR instrument LIKE '%'||#{searchValue}||'%')
					AND area=#{searchArea}
				</if>
			</if>
			AND approval = 'Y'
		</where>
			ORDER BY 1 DESC
		</if>
		
		<!-- 어드민에서 보는 리스트(전체출력) -->
		<if test="searchByWho.toString()== 'admin'">
			SELECT * FROM PARTNER_TBL
			ORDER BY approval
		</if>
		
	</select>
	
	<update id="updateApproval">
		UPDATE PARTNER_TBL
		SET		approval = 'Y', approvalDate = SYSDATE
		WHERE partnerNo = #{partnerNo}
	</update>
	
	<update id="updatePartnerInfo">
		UPDATE PARTNER_TBL
		SET		area = #{area}, instrument = #{instrument},
				title = #{title}, contents = #{contents},
				profileFileName = #{profileFileName}, profileRename = #{profileRename}, profilePath= #{profilePath},
				approval = 'N', approvalDate = null, rejectMailChk = 'N'
		WHERE partnerNo = #{partnerNo}
	</update>
	
	<update id="updateRejectMail">
		UPDATE PARTNER_TBL
		SET rejectMailChk = 'Y'
		WHERE partnerNo = #{partnerNo}
	</update>
	
	<delete id="deletePartnerInfo">
		DELETE FROM PARTNER_TBL
		WHERE partnerNo = #{partnerNo}
	</delete>
	
	<select id="selectApprovedPartnerCount" resultType="_int">
		SELECT COUNT(*) FROM PARTNER_TBL
		WHERE approval = 'Y'
	</select>
	
	<select id="selectNotApprovedPartnerCount" resultType="_int">
		SELECT COUNT(*) FROM PARTNER_TBL
		WHERE approval = 'N'
	</select>
	

</mapper>