<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReviewMapper">
	<resultMap type="Review" id="reviewResultMap">
		<id property="reviewNo" column="REVIEW_NO" />
		<result property="spaceNo" column="SPACE_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="reviewContents" column="REVIEW_CONTENTS" />
		<result property="reviewWriter" column="REVIEW_WRITER" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="rUpdateDate" column="R_UPDATE_DATE" />
		<result property="rStatus" column="R_STATUS" />
		<result property="spaceName" column="SPACE_NAME" />
		<result property="reservationNo" column="RESERV_NO" />
	</resultMap>

	<resultMap type="ReviewImg" id="reviewImgResultMap">
		<id property="reviewImgNo" column="REVIEW_IMG_NO" />
		<result property="reviewNo" column="REVIEW_NO" />
		<result property="reviewFileName" column="REVIEW_FILENAME" />
		<result property="reviewFileRename" column="REVIEW_FILERENAME" />
		<result property="reviewFilePath" column="REVIEW_FILEPATH" />
	</resultMap>

	<resultMap type="Reservation" id="ReservationResultMap">
		<id property="reservationNo" column="RESERV_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="hostEmail" column="HOST_EMAIL" />
		<result property="spaceNo" column="SPACE_NO" />
		<result property="spaceName" column="SPACE_TITLE" />
		<result property="spaceAddress" column="SPACE_ADDRESS" />
		<result property="price" column="PRICE" />
		<result property="reservationDate" column="RESERV_DATE" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberPhone" column="MEMBER_PHONE" />
		<result property="paymentDate" column="PAYMENT_DATE" />
		<result property="reservationStatus" column="RESERV_STATUS" />
		<result property="reviewStatus" column="REV_STATUS" />
		<result property="revStart" column="REV_START" />
		<result property="revEnd" column="REV_END" />
	</resultMap>

	<resultMap type="Space" id="SpaceResultMap">
		<id property="spaceNo" column="SPACE_NO" />
		<result property="spaceName" column="SPACE_NAME" />
		<result property="address" column="SPACE_ADDRESS" />
		<result property="spaceComent" column="SPACE_COMENT" />
		<result property="spaceArea" column="SPACE_AREA" />
		<result property="spacePrice" column="SPACE_PRICE" />
		<result property="approval" column="APPROVAL" />
		<result property="approvalDate" column="APPROVAL_DATE" />
		<result property="hostEmail" column="HOST_EMAIL" />
		<result property="spaceStatus" column="SPACE_STATUS" />
		<association property="spaceImg" javaType="SpaceImg">
			<result property="spaceFileRename" column="SPACE_FILERENAME" />
		</association>
	</resultMap>


	<select id="selectReservation" resultMap="ReservationResultMap"> <!-- 리뷰 작성 화면에 공간명, 공간번호 불러오기 -->
		SELECT * FROM RESERVATION_TBL WHERE RESERV_NO = #{reservationNo} AND RESERV_STATUS = 'Y'
	</select>
	
	<select id="selectImgByNo" resultMap="reviewImgResultMap"> <!-- 리뷰 수정 화면에 리뷰 사진 불러오기 -->
		SELECT * FROM REVIEW_IMG WHERE REVIEW_NO = #{reviewNo}
	</select>
	
	<insert id="insertReview"> <!-- 리뷰 업로드 -->
		INSERT INTO REVIEW_TBL VALUES(SEQ_REVIEW_NO.NEXTVAL, #{spaceNo}, 
		#{memberEmail}, #{reviewContents}, #{reviewWriter}, DEFAULT, DEFAULT, DEFAULT, #{reservationNo})
	</insert>

	<insert id="insertReviewImg"> <!-- 리뷰 이미지 업로드 -->
		INSERT INTO REVIEW_IMG VALUES(SEQ_REVIEW_IMG_NO.NEXTVAL, SEQ_REVIEW_NO.CURRVAL,
		#{reviewFileName}, #{reviewFileRename}, #{reviewFilePath})
	</insert>
	
	<update id="updateRevStatus"> <!-- 리뷰 등록 시 reservation의 리뷰 상태 Y로 업데이트 -->
		UPDATE RESERVATION_TBL SET REV_STATUS = 'Y' WHERE RESERV_NO = #{reservationNo}
	</update>

	<update id="updateRevStatusN"> <!-- 리뷰 삭제 시 reservation의 리뷰 상태 N으로 업데이트 -->
		UPDATE RESERVATION_TBL SET REV_STATUS = 'N' WHERE RESERV_NO = #{reservationNo}
	</update>

	<select id="selectReviewImg" resultMap="reviewImgResultMap"> <!-- 리뷰 상세페이지에 리뷰 이미지 -->
		SELECT * FROM REVIEW_IMG WHERE REVIEW_NO = #{reviewNo}
	</select>
	
	<update id="reviewModify"> <!-- 리뷰 수정 -->
		UPDATE REVIEW_TBL SET REVIEW_CONTENTS = #{reviewContents}, R_UPDATE_DATE = DEFAULT
		WHERE REVIEW_NO = #{reviewNo}
	</update>

	<update id="reviewImgModify"> <!-- 리뷰 사진 수정 -->
		UPDATE REVIEW_IMG
		SET REVIEW_FILENAME = #{reviewFileName}, REVIEW_FILERENAME = #{reviewFileRename}, REVIEW_FILEPATH = #{reviewFilePath}
  	 	WHERE REVIEW_IMG_NO = #{reviewImgNo}
	</update>
	
	<delete id="deleteReview"> <!-- 리뷰 삭제 -->
		DELETE FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo}
	</delete>

	<delete id="deleteReviewImg"> <!-- 리뷰 삭제 시 이미지도 삭제 -->
		DELETE FROM REVIEW_IMG WHERE REVIEW_NO = #{reviewNo}
	</delete>
	
	<select id="selectOneByNo" resultMap="reviewResultMap"> <!-- 리뷰 상세보기 -->
		SELECT SPACE_NAME, REVIEW_NO, SPACE_TBL.SPACE_NO,
		MEMBER_EMAIL, REVIEW_CONTENTS,
		REVIEW_WRITER, R_CREATE_DATE,
		R_UPDATE_DATE, R_STATUS
		FROM REVIEW_TBL
		JOIN SPACE_TBL ON
		REVIEW_TBL.SPACE_NO = SPACE_TBL.SPACE_NO
		WHERE REVIEW_NO = #{reviewNo}
		AND R_STATUS = 'Y'
	</select>

</mapper>