<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SpaceMapper">
	<select id="checkTime" resultType="_int">
		<![CDATA[SELECT COUNT(*) FROM RESERVATION_TBL
		WHERE RESERV_DATE = #{reservDate} 
		AND REV_START < #{end} 
		AND REV_END > #{start}]]>
	</select>
</mapper>