<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SpaceMapper">
	<resultMap type="Space" id="SpaceResultMap">
  		<id 	property="spaceNo" 				column="SPACE_NO"/>
  		<result property="spaceName" 			column="SPACE_NAME"/>
  		<result property="spaceComent" 			column="SPACE_COMENT"/>
  		<result property="spaceArea" 			column="SPACE_AREA"/>
  		<result property="spacePrice" 			column="SPACE_PRICE"/>
  		<result property="approval" 			column="APPROVAL"/>
  		<result property="approvalDate" 		column="APPROVAL_DATE"/>
  		<result property="hostEmail" 			column="HOST_EMAIL"/>
  		<result property="spaceStatus" 			column="SPACE_STATUS"/>
  		<result property="address1" 			column="SPACE_ADDRESS1"/>
  		<result property="address2" 			column="SPACE_ADDRESS2"/>
  		<result property="address3" 			column="SPACE_ADDRESS3"/>
  		<result property="address4" 			column="SPACE_ADDRESS4"/>
  		<association property="spaceImg" 		javaType="SpaceImg">
  			<result property="spaceFileRename"  column="SPACE_FILERENAME"/>
  		</association>
  	</resultMap>
  	<resultMap type="SpaceImg" 					id="SpaceImgResultMap">
  		<id 	property="spaceImgNo" 			column="SPACE_IMG_NO"/>
  		<result property="spaceNo" 				column="SPACE_NO"/>
  		<result property="spaceFileName" 		column="SPACE_FILENAME"/>
  		<result property="spaceFileRename" 		column="SPACE_FILERENAME"/>
  		<result property="spaceFilePath" 		column="SPACE_FILEPATH"/>
  	</resultMap>
  	<resultMap type="Reservation" 				id="ReservationResultMap">
  		<id 	property="reservationNo" 		column="RESERV_NO"/>
  		<result property="memberEmail" 			column="MEMBER_EMAIL"/>
  		<result property="hostEmail" 			column="HOST_EMAIL"/>
  		<result property="spaceNo" 				column="SPACE_NO"/>
  		<result property="spaceName" 			column="SPACE_TITLE"/>
  		<result property="spaceAddress" 		column="SPACE_ADDRESS"/>
  		<result property="price" 				column="PRICE"/>
  		<result property="reservationDate" 		column="RESERV_DATE"/>
  		<result property="memberName" 			column="MEMBER_NAME"/>
  		<result property="memberPhone" 			column="MEMBER_PHONE"/>
  		<result property="paymentDate" 			column="PAYMENT_DATE"/>
  		<result property="reservationStatus" 	column="RESERV_STATUS"/>
  		<result property="reviewStatus" 		column="REV_STATUS"/>
  		<result property="revStart" 			column="REV_START"/>
  		<result property="revEnd" 				column="REV_END"/>
  	</resultMap>
  	<resultMap type="Review" 					id="ReviewResultMap">
		<id property="reviewNo" 				column="REVIEW_NO" />
		<result property="spaceNo" 				column="SPACE_NO" />
		<result property="reviewImgNo" 			column="REVIEW_IMG_NO" />
		<result property="memberEmail" 			column="MEMBER_EMAIL" />
		<result property="reviewContents" 		column="REVIEW_CONTENTS" />
		<result property="reviewWriter" 		column="REVIEW_WRITER" />
		<result property="rCreateDate" 			column="R_CREATE_DATE" />
		<result property="rUpdateDate" 			column="R_UPDATE_DATE" />
		<result property="rStatus" 				column="R_STATUS" />
		<result property="spaceName" 			column="SPACE_NAME" />
	</resultMap>
	<resultMap type="HostReply"					id="HostReplyResultMap">
		<id property="replyNo" 					column="REPLY_NO"/>
		<result property="reviewNo" 			column="REVIEW_NO"/>
		<result property="hostEmail" 			column="HOST_EMAIL"/>
		<result property="replyWriter" 			column="REPLY_WRITER"/>
		<result property="replyContents" 		column="REPLY_CONTENTS"/>
		<result property="createDate" 			column="CREATE_DATE"/>
		<result property="updateDate" 			column="UPDATE_DATE"/>
	</resultMap>
	<resultMap type="ReviewImg" 				id="ReviewImgResultMap">
		<id property="reviewImgNo" 				column="REVIEW_IMG_NO" />
		<result property="reviewNo" 			column="REVIEW_NO" />
		<result property="reviewFileName"		column="REVIEW_FILENAME" />
		<result property="reviewFileRename" 	column="REVIEW_FILERENAME" />
		<result property="reviewFilePath" 		column="REVIEW_FILEPATH" />
	</resultMap>
	
  	<insert id="insertReservation">
  		INSERT INTO RESERVATION_TBL
  		VALUES(#{reservationNo},#{memberEmail},#{hostEmail},#{spaceNo},#{spaceName},#{spaceAddress},#{price},#{reservationDate},#{memberName},#{memberPhone},#{paymentDate},DEFAULT,DEFAULT,#{revStart},#{revEnd})
  	</insert>
  	<insert id="insertHeart">
  		INSERT INTO HEART_TBL
  		VALUES(#{memberEmail},#{spaceNo},#{spaceName},#{spaceFileRename},#{spaceStatus})
  	</insert>
  	<insert id="insertReply">
  		INSERT INTO HOSTREPLY_TBL
  		VALUES(SEQ_REPLY_NO.NEXTVAL, #{reviewNo}, #{hostEmail}, #{replyWriter}, #{replyContents}, SYSDATE, SYSDATE)
  	</insert>
  	<update id="updateReply">
  		UPDATE HOSTREPLY_TBL SET REPLY_CONTENTS = #{replyContents}, UPDATE_DATE = SYSDATE WHERE REPLY_NO = #{replyNo}
  	</update>
  	<delete id="deleteReply">
  		DELETE FROM HOSTREPLY_TBL WHERE REPLY_NO = #{replyNo}
  	</delete>
  	<delete id="deleteHeart">
  		DELETE FROM HEART_TBL WHERE MEMBER_EMAIL=#{memberEmail} AND SPACE_NO=#{spaceNo}
  	</delete>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM SPACE_TBL WHERE SPACE_STATUS='Y'
	</select>
	<select id="selectTotalCountReviewDesc" resultType="_int">
		SELECT COUNT(*) FROM SPACE_TBL
		<where>
			<if test="searchValue.toString() =='' AND searchArea.toString() != ''">
				<if test="searchArea.toString() != '전체'">
					SPACE_AREA = #{searchArea}
				</if>
				<if test="searchArea.toString() == '전체'">
					SPACE_AREA LIKE '강동' OR SPACE_AREA LIKE '강서' OR SPACE_AREA LIKE '강남' OR SPACE_AREA LIKE '강북'
				</if>
			</if>
			<if test="searchValue.toString() !='' AND searchArea.toString() != ''">
				<if test="searchArea.toString() == '전체'">
					SPACE_NAME LIKE '%'||#{searchValue}||'%'
				</if>
				<if test="searchArea.toString() != '전체'">
					SPACE_NAME LIKE '%'||#{searchValue}||'%'
					AND SPACE_AREA = #{searchArea}
				</if>
			</if>
			AND SPACE_STATUS='Y'
		</where>
	</select>
	<select id="selectAllByValue" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL
		<where>
			<if test="searchArea.toString() != '전체'">
				<if test="searchValue.toString() !=''">
					SPACE_NAME LIKE '%'||#{searchValue}||'%'
					AND SPACE_AREA = #{searchArea}				
				</if>
			</if>
			<if test="searchArea.toString() == '전체'">
				<if test="searchValue.toString() !=''">
					SPACE_NAME LIKE '%'||#{searchValue}||'%'
				</if>
			</if>
			<if test="searchArea.toString() == '전체'">
				<if test="searchValue.toString() ==''">
					SPACE_AREA LIKE '강동' OR SPACE_AREA LIKE '강서' OR SPACE_AREA LIKE '강남' OR SPACE_AREA LIKE '강북'
				</if>
			</if>
			<if test="searchArea.toString() == '강동'">
				<if test="searchValue.toString() ==''">
					SPACE_AREA LIKE '강동'
				</if>
			</if>
			<if test="searchArea.toString() == '강서'">
				<if test="searchValue.toString() ==''">
					SPACE_AREA LIKE '강서'
				</if>
			</if>
			<if test="searchArea.toString() == '강남'">
				<if test="searchValue.toString() ==''">
					SPACE_AREA LIKE '강남'
				</if>
			</if>
			<if test="searchArea.toString() == '강북'">
				<if test="searchValue.toString() ==''">
					SPACE_AREA LIKE '강북'
				</if>
			</if>
			AND SPACE_STATUS='Y'
		</where>
	</select>
	<select id="selectPriceCount"  resultType="_int">
		SELECT COUNT(*) FROM SPACE_TBL
		WHERE <![CDATA[ #{minNum} <= TO_NUMBER(SPACE_PRICE) AND TO_NUMBER(SPACE_PRICE) <= #{maxNum}]]>
		AND SPACE_STATUS='Y'
		<if test="minNum == 0">
			ORDER BY TO_NUMBER(SPACE_PRICE) DESC
		</if>
		<if test="maxNum == 999999999">
			ORDER BY TO_NUMBER(SPACE_PRICE) ASC
		</if>
	</select>
	<select id="selectByArea" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL
		<where>
			<if test="searchArea.toString() != '전체'">
					SPACE_AREA = #{searchArea}
			</if>
			<if test="searchArea.toString() == '전체'">
				SPACE_AREA LIKE '강동' OR SPACE_AREA LIKE '강서' OR SPACE_AREA LIKE '강남' OR SPACE_AREA LIKE '강북'
			</if>
			AND SPACE_STATUS='Y'
		</where>
	</select>
	
	<select id="selectAllSpace" resultMap="SpaceResultMap">
		SELECT ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, MAX(SI.SPACE_FILERENAME) SPACE_FILERENAME
		FROM SPACE_TBL ST
        LEFT OUTER JOIN SPACE_IMG SI
		ON ST.SPACE_NO = SI.SPACE_NO
        WHERE ST.SPACE_STATUS = 'Y' 
		GROUP BY ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, APPROVAL_DATE
		ORDER BY APPROVAL_DATE DESC
	</select>
	<select id="heartSortDesc" resultMap="SpaceResultMap">
		SELECT ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, MAX(SI.SPACE_FILERENAME) SPACE_FILERENAME
		FROM SPACE_TBL ST
        LEFT OUTER JOIN SPACE_IMG SI
		ON ST.SPACE_NO = SI.SPACE_NO
        WHERE ST.SPACE_STATUS = 'Y'
        GROUP BY ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE
        ORDER BY (SELECT COUNT(*) FROM HEART_TBL HT WHERE ST.SPACE_NO = HT.SPACE_NO GROUP BY HT.SPACE_NO) DESC NULLS LAST
	</select>
	<select id="ReviewSortDesc" resultMap="SpaceResultMap">
		SELECT ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, MAX(SI.SPACE_FILERENAME) SPACE_FILERENAME
		FROM SPACE_TBL ST
        LEFT OUTER JOIN SPACE_IMG SI
		ON ST.SPACE_NO = SI.SPACE_NO
        WHERE ST.SPACE_STATUS = 'Y'
        GROUP BY ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE
        ORDER BY (SELECT COUNT(*) FROM REVIEW_TBL RT WHERE ST.SPACE_NO = RT.SPACE_NO GROUP BY RT.SPACE_NO) DESC NULLS LAST
	</select>
	<select id="ReviewDescByArea" resultMap="SpaceResultMap">
		SELECT ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, MAX(SI.SPACE_FILERENAME) SPACE_FILERENAME
		FROM SPACE_TBL ST
        LEFT OUTER JOIN SPACE_IMG SI
		ON ST.SPACE_NO = SI.SPACE_NO
		<where>
			<if test="searchArea.toString() != '전체'">
				ST.SPACE_AREA = #{spaceArea} AND ST.SPACE_STATUS = 'Y'
			</if>
			<if test="searchArea.toString() == '전체'">
				ST.SPACE_STATUS = 'Y'
			</if>
		</where>
        GROUP BY ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE
        ORDER BY (SELECT COUNT(*) FROM REVIEW_TBL RT WHERE ST.SPACE_NO = RT.SPACE_NO GROUP BY RT.SPACE_NO) DESC NULLS LAST
	</select>
	<select id="ReviewDescByValue" resultMap="SpaceResultMap">
		SELECT ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE, MAX(SI.SPACE_FILERENAME) SPACE_FILERENAME
		FROM SPACE_TBL ST
        LEFT OUTER JOIN SPACE_IMG SI
		ON ST.SPACE_NO = SI.SPACE_NO
		<where>
			<if test="searchArea.toString() != '전체'">
				ST.SPACE_AREA = #{spaceArea} AND ST.SPACE_NAME LIKE '%'||#{searchValue}||'%' AND ST.SPACE_STATUS = 'Y'
			</if>
			<if test="searchArea.toString() == '전체'">
				ST.SPACE_NAME LIKE '%'||#{searchValue}||'%' AND ST.SPACE_STATUS = 'Y'
			</if>
		</where>
        GROUP BY ST.SPACE_NO, ST.SPACE_NAME, ST.SPACE_AREA, ST.SPACE_PRICE
        ORDER BY (SELECT COUNT(*) FROM REVIEW_TBL RT WHERE ST.SPACE_NO = RT.SPACE_NO GROUP BY RT.SPACE_NO) DESC NULLS LAST
	</select>
	<select id="selectImg" resultMap="SpaceImgResultMap">
		SELECT * FROM SPACE_IMG WHERE SPACE_NO = #{spaceNo}
	</select>
	<select id="selectOneByNo" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL WHERE SPACE_NO = #{spaceNo} AND SPACE_STATUS='Y'
	</select>
	
	<select id="selectByPrice" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL
		WHERE <![CDATA[ #{minNum} <= TO_NUMBER(SPACE_PRICE) AND TO_NUMBER(SPACE_PRICE) <= #{maxNum}]]>
		AND SPACE_STATUS='Y'
		<if test="minNum == 0">
			ORDER BY TO_NUMBER(SPACE_PRICE) DESC
		</if>
		<if test="maxNum == 999999999">
			ORDER BY TO_NUMBER(SPACE_PRICE) ASC
		</if>
	</select>
	
	<select id="selectResevation" resultMap="ReservationResultMap">
		SELECT * FROM RESERVATION_TBL WHERE RESERV_NO = #{reservationNo}
	</select>
	<select id="selectReview" resultMap="ReviewResultMap">
		SELECT * FROM REVIEW_TBL WHERE SPACE_NO = #{spaceNo} ORDER BY R_UPDATE_DATE DESC
	</select>
	<select id="checkHeart" resultType="_int">
		SELECT COUNT(*) FROM HEART_TBL 
		WHERE MEMBER_EMAIL=#{memberEmail} AND SPACE_NO=#{spaceNo}
	</select>
	<select id="checkTime" resultType="_int">
		<![CDATA[SELECT COUNT(*) FROM RESERVATION_TBL
		WHERE RESERV_DATE = #{reservDate} 
		AND REV_START < #{end} 
		AND REV_END > #{start}]]>
	</select>
	<select id="selectReply" resultMap="HostReplyResultMap">
		SELECT * FROM HOSTREPLY_TBL WHERE REVIEW_NO = #{reviewNo} ORDER BY UPDATE_DATE ASC
	</select>
	<select id="selectAreaCount" resultType="_int">
		SELECT count(*) AS COUNT FROM SPACE_TBL
		WHERE SPACE_AREA LIKE #{searchArea}
		AND SPACE_STATUS='Y'
	</select>
	<select id="selectReviewImg" resultMap="ReviewImgResultMap">
		SELECT * FROM REVIEW_IMG WHERE REVIEW_NO = #{reviewNo}
	</select>
	<select id="selectAllSpaceForMap" resultMap="SpaceResultMap">
		SELECT SPACE_NO, SPACE_NAME, SPACE_ADDRESS2, SPACE_STATUS, APPROVAL FROM SPACE_TBL
		ORDER BY 1
	</select>
</mapper>