<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="SpaceMapper">
	<resultMap type="Space" id="SpaceResultMap">
  		<id 	property="spaceNo" 			column="SPACE_NO"/>
  		<result property="spaceName" 		column="SPACE_NAME"/>
  		<result property="address" 			column="SPACE_ADDRESS"/>
  		<result property="spaceComent" 		column="SPACE_COMENT"/>
  		<result property="spaceArea" 		column="SPACE_AREA"/>
  		<result property="spacePrice" 		column="SPACE_PRICE"/>
  		<result property="approval" 		column="APPROVAL"/>
  		<result property="approvalDate" 	column="APPROVAL_DATE"/>
  		<result property="hostEmail" 		column="HOST_EMAIL"/>
  		<result property="spaceStatus" 		column="SPACE_STATUS"/>
  		<association property="spaceImg" 	javaType="SpaceImg">
  			<result property="spaceFileRename" column="SPACE_FILERENAME"/>
  		</association>
  	</resultMap>
  	<resultMap type="SpaceImg" 				id="SpaceImgResultMap">
  		<id 	property="spaceImgNo" 		column="SPACE_IMG_NO"/>
  		<result property="spaceNo" 			column="SPACE_NO"/>
  		<result property="spaceFileName" 	column="SPACE_FILENAME"/>
  		<result property="spaceFileRename" 	column="SPACE_FILERENAME"/>
  		<result property="spaceFilePath" 	column="SPACE_FILEPATH"/>
  	</resultMap>
  	<resultMap type="Reservation" 				id="ReservationResultMap">
  		<id 	property="reservationNo" 			column="RESERV_NO"/>
  		<result property="memberEmail" 				column="MEMBER_EMAIL"/>
  		<result property="hostEmail" 				column="HOST_EMAIL"/>
  		<result property="spaceNo" 					column="SPACE_NO"/>
  		<result property="spaceName" 				column="SPACE_TITLE"/>
  		<result property="spaceAddress" 			column="SPACE_ADDRESS"/>
  		<result property="price" 					column="PRICE"/>
  		<result property="reservationDate" 			column="RESERV_DATE"/>
  		<result property="memberName" 				column="MEMBER_NAME"/>
  		<result property="memberPhone" 				column="MEMBER_PHONE"/>
  		<result property="paymentDate" 				column="PAYMENT_DATE"/>
  		<result property="reservationStatus" 		column="RESERV_STATUS"/>
  		<result property="reviewStatus" 			column="REV_STATUS"/>
  		<result property="revStart" 				column="REV_START"/>
  		<result property="revEnd" 					column="REV_END"/>
  	</resultMap>
  	<resultMap type="Heart" 					id="HeartResultMap">
  		<result property="spaceNo" 					column="SPACE_NO"/>
  		<result property="memberEmail" 				column="MEMBER_EMAIL"/>
  	</resultMap>
  	<resultMap type="Review" id="ReviewResultMap">
		<id property="reviewNo" column="REVIEW_NO" />
		<result property="spaceNo" column="SPACE_NO" />
		<result property="reviewImgNo" column="REVIEW_IMG_NO" />
		<result property="memberEmail" column="MEMBER_EMAIL" />
		<result property="reviewContents" column="REVIEW_CONTENTS" />
		<result property="reviewWriter" column="REVIEW_WRITER" />
		<result property="rCreateDate" column="R_CREATE_DATE" />
		<result property="rUpdateDate" column="R_UPDATE_DATE" />
		<result property="rStatus" column="R_STATUS" />
		<result property="spaceName" column="SPACE_NAME" />
	</resultMap>
	<resultMap type="HostReply" id="HostReplyResultMap">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="reviewNo" column="REVIEW_NO"/>
		<result property="hostEmail" column="HOST_EMAIL"/>
		<result property="replyWriter" column="REPLY_WRITER"/>
		<result property="replyContents" column="REPLY_CONTENTS"/>
		<result property="createDate" column="CREATE_DATE"/>
		<result property="updateDate" column="UPDATE_DATE"/>
	</resultMap>
  	<insert id="insertReservation">
  		INSERT INTO RESERVATION_TBL
  		VALUES(#{reservationNo},#{memberEmail},#{hostEmail},#{spaceNo},#{spaceName},#{spaceAddress},#{price},#{reservationDate},#{memberName},#{memberPhone},#{paymentDate},DEFAULT,DEFAULT,#{revStart},#{revEnd})
  	</insert>
  	<insert id="insertHeart">
  		INSERT INTO HEART_TBL
  		VALUES(#{memberEmail},#{spaceNo},#{spaceName},#{spaceFileRename})
  	</insert>
  	<insert id="insertReply">
  		INSERT INTO HOSTREPLY_TBL
  		VALUES(SEQ_REPLY_NO.NAXTVAL, #{reviewNo}, #{hostEmail}, #{replyWriter}, #{replyContents}, SYSDATE, SYSDATE)
  	</insert>
  	<delete id="deleteHeart">
  		DELETE FROM HEART_TBL WHERE MEMBER_EMAIL=#{memberEmail} AND SPACE_NO=#{spaceNo}
  	</delete>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM SPACE_TBL
		<where>
			<if test="searchValue.toString() != ''">
				SPACE_NAME LIKE '%'||#{searchValue}||'%'
				OR SPACE_AREA LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="area.toString() == '전체'">
				SPACE_AREA LIKE '강동' OR SPACE_AREA LIKE '강서' OR SPACE_AREA LIKE '강남' OR SPACE_AREA LIKE '강북'
			</if>
			<if test="area.toString() == '강동'">
				SPACE_AREA LIKE '강동'
			</if>
			<if test="area.toString() == '강서'">
				SPACE_AREA LIKE '강서'
			</if>
			<if test="area.toString() == '강남'">
				SPACE_AREA LIKE '강남'
			</if>
			<if test="area.toString() == '강북'">
				SPACE_AREA LIKE '강북'
			</if>
		</where>
	</select>
	<select id="selectPriceCount"  resultType="_int">
		<![CDATA[SELECT COUNT(*) FROM SPACE_TBL
		WHERE #{minNum} <= TO_NUMBER(SPACE_PRICE) AND TO_NUMBER(SPACE_PRICE) <= #{maxNum}]]>
	</select>
	<select id="selectAllSpace" resultMap="SpaceResultMap">
		SELECT SPACE_TBL.SPACE_NO, SPACE_NAME, SPACE_AREA, SPACE_PRICE, SPACE_FILERENAME
		FROM SPACE_TBL LEFT OUTER JOIN SPACE_IMG
		ON SPACE_TBL.SPACE_NO = SPACE_IMG.SPACE_NO 
		<!-- WHERE SPACE_STATUS = 'Y' -->
		GROUP BY SPACE_TBL.SPACE_NO, SPACE_NAME, SPACE_AREA, SPACE_PRICE, SPACE_FILERENAME
	</select>
	<select id="selectImg" resultMap="SpaceImgResultMap">
		SELECT * FROM SPACE_IMG WHERE SPACE_NO = #{spaceNo}
	</select>
	<select id="selectOneByNo" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL WHERE SPACE_NO = #{spaceNo}
	</select>
	<select id="selectAllByValue" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL
		<where>
			<if test="searchValue.toString() != ''">
				SPACE_NAME LIKE '%'||#{searchValue}||'%'
				OR SPACE_AREA LIKE '%'||#{searchValue}||'%'
			</if>
		</where>
	</select>
	<select id="selectByPrice" resultMap="SpaceResultMap">
		<![CDATA[SELECT * FROM SPACE_TBL
		WHERE #{minNum} <= TO_NUMBER(SPACE_PRICE) AND TO_NUMBER(SPACE_PRICE) <= #{maxNum}]]>
	</select>
	<select id="selectByArea" resultMap="SpaceResultMap">
		SELECT * FROM SPACE_TBL
		<where>
			<if test="area.toString() == '전체'">
				SPACE_AREA LIKE '강동' OR SPACE_AREA LIKE '강서' OR SPACE_AREA LIKE '강남' OR SPACE_AREA LIKE '강북'
			</if>
			<if test="area.toString() == '강동'">
				SPACE_AREA LIKE '강동'
			</if>
			<if test="area.toString() == '강서'">
				SPACE_AREA LIKE '강서'
			</if>
			<if test="area.toString() == '강남'">
				SPACE_AREA LIKE '강남'
			</if>
			<if test="area.toString() == '강북'">
				SPACE_AREA LIKE '강북'
			</if>
		</where>
	</select>
	<select id="selectResevation" resultMap="ReservationResultMap">
		SELECT * FROM RESERVATION_TBL WHERE RESERV_NO = #{reservationNo}
	</select>
	<select id="selectReview" resultMap="ReviewResultMap">
		SELECT * FROM REVIEW_TBL WHERE SPACE_NO = #{spaceNo}
	</select>
	<select id="checkHeart" resultType="_int">
		SELECT COUNT(*) FROM HEART_TBL 
		WHERE MEMBER_EMAIL=#{memberEmail} AND SPACE_NO=#{spaceNo}
	</select>
	<select id="checkTime" resultType="_int">
		<![CDATA[SELECT COUNT(*) FROM RESERVATION_TBL
		WHERE RESERV_DATE = #{reservDate} 
		AND REV_START < #{end} 
		AND REV_END > #{start}]]>
	</select>
	
	<select id="selectAreaCount" resultType="_int">
		SELECT count(*) AS COUNT FROM SPACE_TBL
		WHERE SPACE_AREA LIKE #{area}
	</select>
	
	<select id="selectAllSpaceForMap" resultMap="SpaceResultMap">
		SELECT SPACE_NO, SPACE_NAME, SPACE_ADDRESS, SPACE_STATUS FROM SPACE_TBL
		ORDER BY 1
	</select>
</mapper>