<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

		<typeAlias type="com.kh.mobiil.member.domain.Member"  	alias="Member"/>
		<typeAlias type="com.kh.mobiil.banner.domain.Banner" 	alias="Banner"/>
		<typeAlias type="com.kh.mobiil.chat.domain.ChatRoom" 	alias="ChatRoom"/>
		<typeAlias type="com.kh.mobiil.chat.domain.Chat" 	 	alias="Chat"/>
		<typeAlias type="com.kh.mobiil.partner.domain.Partner" 	 alias="Partner"/>
		
		
		

	</typeAliases>

	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/banner-mapper.xml"/>
		<mapper resource="mappers/chatRoom-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
		<mapper resource="mappers/partner-mapper.xml"/>
	</mappers>

</configuration>